sup {
    color: #c5c5c5;
}

div.title-logo-container {
    text-align: center;
    width: 100%;
}

img.title-logo {
    width: 59%;
}

.circle-big {
    width: 600px;
    height: 600px;
}

.tm-container {
    background: transparent;
    color: #dadada;
}

.bg-parallax {
    background-attachment: fixed;
    background-position: center;
}

.download-btn-container {
    display: inline-block;
    width: 100%;
}

.download-btn-container a {
    margin: 2px 0;
    width: 100%;
}

#downloads .container {
    padding: 40px 0px;
}

.icon-container {
    display: flex;
    align-items: center;
    margin: 8px 0 4px 0;
}

.icon-container img {
    margin: 2px 4px 2px 4px;
    width: 64px;
    height: 64px;
}

.icon-container img:first-child {
    margin-left: 0;
}

.icon-container span {
    font-size: 32px;
    font-weight: bold;
    margin: 0 3px;
}

.tm-section-1 {
    height: 750px;
    background-image: url(../img/bg-green.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 0px, 100% 84%, 0px 100%);
    /* background-position: center -95px; */
    background-repeat: no-repeat;
    padding-top: 35px;
}
  
.tm-section-3 {
    height: 790px;
    background-image: url(../img/bg-desert.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#section-source a.btn {
    margin-top: 8px;
}

#section-source {
    height: 790px;
    background-image: url(../img/bg-code.jpg);
    background-size: cover;
    -webkit-clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    clip-path: polygon(0px 0px, 100% 14%, 100% 86%, 0px 100%);
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.footer {
    max-width: unset;
    margin: 10px 0 0 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer .small-footer-text {
    color: #969696;
}

.footer .ice-spear-footer-text {
    color: #4b4b4b;
}

.footer .ice-spear-footer-text span:nth-child(1) {
    color: #3ab7d2;
}

.footer .ice-spear-footer-text span:nth-child(2) {
    color: #ff73b7;
}

.footer .ice-spear-footer-text span:nth-child(3) {
    color: #ea9b43;
}

.video-container {
    height: 600px;
    display: flex;
    align-items: center;
}